{% extends "layout.html" %}

{% block title %}
    PLACES
{% endblock %}

{% block main %}
<h1>01</h1>
<audio controls="controls" height="100" width="400">
  <source src="/static/drama/01/01.mp3" type="audio/mp3" />
<embed height="100" width="100" src="/static/drama/01/01.mp3" />
</audio>

<h1>02</h1>
<audio controls="controls" height="100" width="400">
  <source src="/static/drama/01/02.mp3" type="audio/mp3" />
<embed height="100" width="100" src="/static/drama/01/02.mp3" />
</audio>

<h1>03</h1>
<audio controls="controls" height="100" width="400">
  <source src="/static/drama/01/03.mp3" type="audio/mp3" />
<embed height="100" width="100" src="/static/drama/01/03.mp3" />
</audio>

<h1>ft</h1>
<audio controls="controls" height="100" width="400">
  <source src="/static/drama/01/ft.mp3" type="audio/mp3" />
<embed height="100" width="100" src="/static/drama/01/ft.mp3" />
</audio>

<h1>a店特典</h1>
<audio controls="controls" height="100" width="400">
  <source src="/static/drama/01/a-cd.mp3" type="audio/mp3" />
<embed height="100" width="100" src="/static/drama/01/a-cd.mp3" />
</audio>
{% endblock %}
